.leftText {

}

.imgI {
  float: right;
  height:auto;
  width:60%;

}
.info {

}

.col-md-4 {
  margin: auto;
  display: block;
}

.box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: grey;
  color: white;
  display:block;
  margin:auto;
  margin-top: 10px;
}

#snakey {
  display: none;
}

#turley {
  display:none;
}

#salamy {
  display:none;
}
